<div class="side-nav-content">
    <ng-container *ngIf="!isAdmin">
        <ul class="nav-list">
            <li class="nav-list-item d-flex align-items-center" routerLink="dashboard">
                <i class="nav-icon fa-solid fa-house"></i>
                <span>Home</span>
            </li>
            <li class="nav-list-item d-flex align-items-center" routerLink="quizattemps">
                <i class="nav-icon fa-solid fa-bookmark"></i>
                <span>Quiz Attemps</span>
            </li>
            <li class="nav-list-item d-flex align-items-center" (click)="showCategories = !showCategories">
                <i class="nav-icon fa-solid fa-thumbtack"></i>
                <span>Categories</span>
            </li>
            <ul class="mt-2 ms-4" *ngIf="showCategories">
                <li class="nav-category-item" [routerLink]="'quiz/0'">
                    All
                </li>
                <li class="nav-category-item" *ngFor="let category of categories" [routerLink]="['quiz', category.id]">
                    {{category.name}}
                </li>
            </ul>
        </ul>
    </ng-container>
    <ng-container *ngIf="isAdmin">
        <ul class="nav-list">
            <li class="nav-list-item d-flex align-items-center" routerLink="dashboard">
                <i class="nav-icon fa-solid fa-house"></i>
                <span>Dashboard</span>
            </li>
        </ul>
    </ng-container>
</div>