<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Number of questions</th>
                <th scope="col">Marks Per Question</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of filteredQuizzes">
                <td>{{quiz.title}}</td>
                <td>{{quiz.category.name}}</td>
                <td>{{quiz.numberOfQuestions}}</td>
                <td>{{quiz.marksPerQuestion}}</td>
                <td>
                    <span class="btn btn-danger me-3">Edit</span>
                    <span class="btn btn-primary me-3">Questions</span>
                    <span class="btn btn-success">Attemps</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="7">7 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="30">30 items per page</option>
        </select>
    </div>
</div>