<div class="container m-3">

    <div class="mb-3 row">
        <div class="col-md-9">
            <h4 style="font-weight: bolder;">Quiz List</h4>
        </div>
        <div class="col">
            <div class="d-flex align-items-center">
                <select class="form-select me-2" name="category" (change)="onCategoryChange($event)">
                    <option disabled selected>Filter by Category</option>
                    <option value="-1">All</option>
                    <option [value]="item.id" *ngFor="let item of categoryList">{{ item.name }}</option>
                </select>
                <span>
                    <i class="fs-4 fa-solid fa-filter"></i>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col" >Title</th>
                <th scope="col">Category</th>
                <th scope="col">Number of questions</th>
                <th scope="col">Marks Per Question</th>
                <th scope="col">Publish</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of filteredQuizzes; let i=index">
                <td>{{quiz.title}}</td>
                <td>{{quiz.category.name}}</td>
                <td>{{quiz.numberOfQuestions}}</td>
                <td>{{quiz.marksPerQuestion}}</td>
                <td>
                    <div class="form-check form-switch d-flex justify-content-center">
                        <input class="form-check-input" [id]="'publishStatus' + quiz.id" type="checkbox" role="switch" [checked]="quiz.isActive === 1" (change)="togglePublish(quiz)" [disabled]="isProcessing">
                    </div>
                </td>
                <td class="text-center">
                    <i class="btn btn-outline-success fa-solid fa-chart-pie"></i>
                </td>
                <td class="text-center d-flex justify-content-around">
                    <span (click)="openModal(editQuizModal, i)"><i class="btn btn-outline-danger fa-solid fa-pencil"></i></span>
                    <span [routerLink]="[quiz.id]"><i class="btn btn-outline-primary fa-solid fa-book-skull me-3"></i></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="7">7 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="30">30 items per page</option>
        </select>
    </div>
</div>


<!-- ********* modals ********* -->

<ng-template #editQuizModal let-modal>
    <app-update-quiz [modal]="modal" [quiz]="selectedQuiz" [categoryList]="categoryList" (onSave)="updateQuiz($event)"></app-update-quiz>
</ng-template>