<div class="container">
    <h2 class="text-center">Why Choose Us?</h2>
    <h6 class="text-center">Here are some quick facts which will help you to know why choose us.</h6>

    <div class="row text-center">
        <div class="col-md-4">
            <img src = "assets/about/team.svg" alt="My Happy SVG"/>
            <h4>Dedicated Teams</h4>
            <p>Dedicated Teams For Customers</p>
        </div>
        <div class="col-md-4">
            <h4>Implementation</h4>
            <p>Implementation, testing, integration and maintenance as per the world standards.</p>
        </div>
        <div class="col-md-4">
            <h4>Technology Expertise</h4>
            <p>Known track record with domain & technology expertise.</p>
        </div>
        <div class="col-md-4">
            <h4>Range Of Solutions</h4>
            <p>Complete range of solutions for each and every need of any education establishment.</p>
        </div>
        <div class="col-md-4">
            <h4>Faster service</h4>
            <p>Faster service through a network of support locations.</p>
        </div>
        <div class="col-md-4">
            <h4>Customized Solutions</h4>
            <p>Fully customized solutions according to your need.</p>
        </div>
    </div>
</div>